name: Deploy to EC2

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      -name: checkout
      uses: actions/checkout@v3
      with:
        host: ${{secrets.EC2_HOST}}
        username: ${{secrets.EC2_USER}}
        key: ${{secrets.EC2_SSH_KEY}}
        script: |
         cd aws-docker-cicd-demo
         git pull
         docker build -t app .
         docker run -d -p 80:3000 --name app app 
